.dashboard-header {
  margin-top: 0.5em;
}
.dashboard-header-title {
  display: grid;
  align-items: center;
  grid-auto-flow: column;
  justify-content: start;
  gap: 1em;
}
.dashboard-header-title > h2 {
  margin: 0;
  font-size: 20px;
}
.dashboard-header-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-auto-flow: column;
  gap: 0.5em;
  align-items: center;
  justify-content: right;
}
.columns {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 300px 300px 300px;
  grid-auto-columns: 300px;
  gap: 0.5em;
  align-items: start;
}
.column {
  box-shadow: 1px 2px 15px #ccc;
  padding: 0 0.5em;
  border-radius: 5px;
}
.column > header {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  border-bottom: 1px solid #ccc;
  justify-content: space-between;
  margin-bottom: 0.5em;
}
.column > header > h3 {
  font-size: 18px;
  margin: 0;
}
.task {
  background: white;
  margin: 0.5em 0;
  padding: 0.5em;
  box-shadow: 1px 2px 10px #ccc;
  border-radius: 5px;
}
.task:hover {
  box-shadow: 1px 2px 15px #999;
}
.task i {
  font-size: 18px;
}
.task > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-auto-flow: column;
  gap: 0.5em;
  margin: 0.5em 0;
  justify-content: start;
}
.task > p,
.task > div {
  margin: 0;
  font-size: 14px;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
}
.task-icons {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
}
.task-icons > div {
  display: grid;
  grid-auto-flow: column;
  gap: 0.4em;
}
.task-icons > div > span {
  display: flex;
  align-items: center;
}
.task-members {
  display: grid;
  grid-auto-flow: column;
  gap: 0.5em;
}
.priority {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.high {
  background: red;
}
.high-edit {
  border: 4px solid red;
}
.medium {
  background: orange;
}
.medium-edit {
  border: 4px solid orange;
}
.low {
  background: green;
}
.low-edit {
  border: 4px solid green;
}
.red {
  color: red;
}
.orange {
  color: orange;
}
.green {
  color: green;
}
.logoA {
  color: #e79eff;
}
.logoB {
  color: #b8e4ff;
}
.logoC {
  color: #ff94a2;
}
.rowLogoA {
  border-top: 5px solid #e79eff;
}
.rowLogoB {
  border-top: 5px solid #b8e4ff;
}
.rowLogoC {
  border-top: 5px solid #ff94a2;
}
.add-tag-title {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  border-bottom: 1px solid #f0f0f0;
  align-items: center;
  margin-bottom: 0.5em;
  gap: 0.5em;
}
.tag-content {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  gap: 0.5em;
  align-items: center;
}
.grid {
  display: grid;
  grid-auto-flow: column;
  gap: 0.5em;
  align-items: center;
}
.flex {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
.flex > button {
  width: 40px;
}
.clear-style-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
}
.modal-body {
  font-size: 14px;
}
.delete {
  color: red;
}
.labelForm {
  margin-bottom: 0.5em;
}
